$color-contrast: #4c4c4c;
$color-orange-dark: #b27300;
$color-blue: #2c83ec;
$color-gray: #d3d3d3;
$color-offwhite: #f9f9fa;
$border-orange: 3px solid $color-orange-dark;
$font-libre: "Libre Baskerville", serif;
$font-sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@mixin bp($point) {
  @if $point == papa-bear {
    @media (min-width: 1250px) {
      @content;
    }
  } @else if $point == mama-bear {
    @media (min-width: 600px) {
      @content;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-libre;
  color: #494c4e;
  background-color: #ffffff;
  position: relative;
  font-size: 1em;
  background-color: $color-offwhite;
}

a {
  text-decoration: none;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}

.material-icons {
  display: inline;
}

div.header-grid {
  font-family: $font-sans;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: auto auto;
  background-color: #000000;
  padding: 0.75em 0.75rem 0.75em 0.75rem;
  height: 1.5rem;
}

div.header-grid-item-1 {
  -ms-grid-column: 1;
  grid-column: 1 / 2;
  grid-row: 1;
  padding: 0.1em;
  @include bp(mama-bear) {
    margin-left: 1rem;
  }
  a.home-link {
    text-decoration: none;
  }
  .logo {
    color: #cccccc;
    padding: 0.4em;
    border: 2px solid #cccccc;
    border-radius: 0px;
    font-weight: 900;
    &:hover {
      cursor: pointer;
    }
  }
}

div.header-grid-item-2 {
  -ms-grid-column: 2;
  grid-column: 2 / 3;
  grid-row: 1;
  margin-right: 0;
  margin-left: auto;
  text-align: right;
  width: 100%;
  span {
    &.menu-button {
      color: #cccccc;
      margin-right: 2%;
      display: block;
      height: 2.24rem;
      &:hover {
        cursor: pointer;
      }
      @include bp(mama-bear) {
        display: none;
      }
    }
  }
  nav {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    &.hide-nav {
      display: none;
      @include bp(mama-bear) {
        display: inline;
      }
    }
    @include bp(mama-bear) {
      background-color: #000000;
      display: inline;
    }
    a {
      color: #ffffff;
      margin-right: 5%;
      display: block;
      background-color: $color-contrast;
      width: 100%;
      text-align: center;
      padding-top: 1.15rem;
      padding-bottom: 1.15rem;
      border-bottom: 1px solid #cccccc;
      text-decoration: none;
      &:hover {
        background-color: #5d5d5d;
      }
      @include bp(mama-bear) {
        color: #cccccc;
        display: inline;
        background-color: #000000;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        &:hover {
          background-color: #000000;
          text-decoration: underline;
        }
      }
    }
  }
  @include bp(mama-bear) {
    text-align: right;
    margin-right: 0;
    margin-left: 0;
  }
}

div#wrapper {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 6rem);
  padding: 0 5% 0 5%;
  line-height: 1.6;
  @include bp(mama-bear) {
    padding: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  @include bp(papa-bear) {
    padding: 0;
    width: 75%;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
  }
}

a.body-link {
  color: $color-blue;
  font-family: $font-sans;
  text-decoration: underline;
  &:hover {
    color: #6ba8f1;
  }
}

.link-button {
  display: block;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
  font-family: $font-sans;
  background-color: $color-blue;
  color: #ffffff;
  font-weight: 600;
  border: none;
  &:hover {
    text-decoration: none;
    background-color: #6ba8f1;
  }
}

div.body-grid-welcome {
  line-height: 1.6;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 100%;
  padding-top: 5%;
  @include bp(mama-bear) {
    -ms-grid-columns: 20% 80%;
    grid-template-columns: 20% 80%;
  }
}

div.body-grid-welcome-item-1 {
  text-align: center;
  -ms-grid-column: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  grid-row: 1 / 2;
  img.welcome-headshot {
    width: auto;
    max-width: 100%;
    max-height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    @include bp(mama-bear) {
    }
  }
}

div.body-grid-welcome-item-2 {
  -ms-grid-column: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  grid-row: 2 / 3;
  @include bp(mama-bear) {
    padding: 5%;
    -ms-grid-column: 2;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    grid-row: 1 / 2;
    position: relative;
  }
  .welcome-text-container {
    border-bottom: $border-orange;
    padding: 7% 0 7% 0;
    font-size: 1.25rem;
    font-weight: 700;
    @include bp(mama-bear) {
      padding: 2% 0 0 0;
      border-bottom: none;
      border-top: $border-orange;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    @media (min-width: 800px) {
      font-size: 1.5rem;
    }
  }
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 5%;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
  font-family: $font-sans;
  &.item-heading {
    color: $color-orange-dark;
  }
}

.body-heading {
  font-family: $font-sans;
}

span.highlight {
  color: $color-blue;
  font-family: $font-sans;
}

div#home-page-contact-container {
  padding-top: 5%;
  padding-bottom: 5%;
  p#cta-line {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0;
  }
  #contact-form {
    text-align: left;
    width: 25rem;
    max-width: 97%;
    margin: 0;
  }
  .material-icons {
    font-size: 1rem;
  }
}

div.body-grid-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  position: relative;
  padding: 2%;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @media (min-width: 800px) {
    margin-left: auto;
    margin-right: auto;
    min-height: 15em;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
  @include bp(papa-bear) {
    padding: 0 2% 0 2%;
  }
  &-item-1 {
    -ms-grid-row: 2;
    grid-row: 2 / 3;
    img {
      height: auto;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #e2e4e6;
    }
    @media (min-width: 550px) {
      img {
        width: 60%;
      }
    }
    @media (min-width: 800px) {
      -ms-grid-column: 1;
      grid-column: 1 / 2;
      -ms-grid-row: 1;
      grid-row: 1 / 2;
      img {
        height: 200px;
        width: auto;
        margin-top: 5%;
      }
    }
  }
  &-item-2 {
    padding-left: 5%;
    -ms-grid-row: 1;
    grid-row: 1 / 2;
    @media (min-width: 800px) {
      -ms-grid-column: 2;
      grid-column: 2 / 3;
      -ms-grid-row: 1;
      grid-row: 1 / 2;
    }
    @include bp(papa-bear) {
    }
  }
  &--projects-page {
    margin-bottom: 2em;
  }
}

button.btn-projects {
  background-color: $color-blue;
}

div#connect-body {
  text-align: left;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  & li {
    font-size: 1.15rem;
    list-style-type: square;
    padding-top: 2%;
  }
  @include bp(mama-bear) {
    width: 25rem;
  }
  @include bp(papa-bear) {
    width: 25rem;
  }
  p#cta-line {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0;
  }
}

form#contact-form {
  font-size: 1.15rem;
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="text"].form-field-error {
    border: 2px solid #ff0000;
  }
  input[type="email"].form-field-error {
    border: 2px solid #ff0000;
  }
  textarea.form-field-error {
    border: 2px solid #ff0000;
  }
  .link-button {
    cursor: pointer;
    font-size: 1.15rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      background-color: #6ba8f1;
    }
  }
  .material-icons {
    font-size: 1rem;
  }
  @include bp(mama-bear) {
    width: 25rem;
  }
}

ul.error-list {
  color: #ff0000;
  text-align: left;
}

div#contact-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 2;
  text-align: center;
  &-panel {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25em;
    @include bp(mama-bear) {
      width: 60%;
      font-size: 1.5em;
      padding: 2%;
    }
    @include bp(papa-bear) {
      width: 45%;
    }
  }
  &-message {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    #btn-close-overlay {
      margin-left: auto;
      margin-right: auto;
      font-size: 1.25rem;
      cursor: pointer;
      &:hover {
        background-color: #6ba8f1;
      }
    }
  }
}

.overlay-hidden {
  display: none;
}

div.flex-container {
  display: flex;
  &--contact-page {
    font-size: 1rem;
    @include bp(mama-bear) {
      font-size: 1.15rem;
    }
  }
  &--linkedin {
    margin-top: 4rem;
  }
}

.email-icon {
  font-size: 2.2rem;
  margin-left: -0.25rem;
  padding: 0;
  color: $color-orange-dark;
}

div.footer-text {
  height: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 0.6rem;
  @include bp(mama-bear) {
  }
}
